.flexbox {
    display: flex-column;
    background-color: cyan;
    padding: 16px;
    justify-items: center;
}

.flexbox-row {
    display:flex;
    background-color: cyan;
}
.title {
    display:flex;
    font-size: large;
    width: 300px;
    background-color: red;
    text-align: center;
    justify-content: center;
    
}
.list {
    display: flex-column;
    background-color: yellow;
    font-size: 20px;
}

.title, .list {
    padding: 8px;
    margin-bottom: 16px;
}

img {
    height: 200px;
    width: auto;
}

.links {
    display: flex;
    color:blue;
    background-color: green;

}